@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
    

}
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: 50px auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4CAF50;
    color: white;
}



.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
}
.navigation a{
    text-transform: uppercase;
    color: #3a6cf4;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    padding-left:30px ;

}
.navigation a:hover
{
    color: rgb(217, 8, 8);
}
section {
    padding: 100px 200px;

}
.main{
 width: 100%;
 min-height: 100vh;
display: flex;
align-items:center ;
background: url(back2.webp);
background-size: cover;
background-position: center;
background-attachment: fixed;
}
